.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.options {
  position: absolute;
  z-index: 10000;
  background-color: var(--dark-bg-redesigned);
  border-radius: 12px;
  //box-shadow: 4px 4px 8px var(--dark-bg-redesigned);
}

.item {
  padding: 10px 20px;
}

.spanButton {
  display: inline-block;
  pointer-events: auto;
  cursor: pointer;
  background: var(--light-bg-redesigned);
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 34px;
  color: var(--text-redesigned);

  &:hover {
    opacity: 0.8;
    fill-opacity: 0.8;
    stroke-opacity: 0.8;
  }
}

.selected {
  background: var(--light-bg-redesigned);
}
