.menu {
  display: flex;
  flex-direction: column;
  background: var(--card-bg);
  position: absolute;
  z-index: 1000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.item {
  padding: 10px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--primary-color);
  cursor: pointer;
}
