.popup {
  position: relative;
}

.menu {
  border-radius: 18px;
  border: 1px solid var(--accent-redesigned);
  overflow: hidden;
}

.active {
  background-color: var(--light-bg-redesigned);
}

.disabled {
  opacity: 0.7;
}

.trigger {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
